@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:'DreamingPrincess';
	src: url('fonts/DreamingPrincess.eot');
	src: local('DreamingPrincess'), url('fonts/DreamingPrincess.ttf') format('truetype') ;
}
@font-face{
	font-family:'FromCartoonBlocks'; 
	src: url('fonts/From_Cartoon_Blocks.eot'); 
	src: local('FromCartoonBlocks'), url('fonts/FromCartoonBlocks.ttf') format('truetype') ;
}
@font-face{
	font-family:'AnselmoRutgerDemoRegular';
	src: url('fonts/AnselmoRutgerDemoRegular.eot'); 
	src: local('AnselmoRutgerDemoRegular'), url('fonts/AnselmoRutgerDemoRegular.ttf') format('truetype') ;
}
@font-face{
	font-family:'aescrawl';
	src: url('fonts/aescrawl.eot'); 
	src: local('aescrawl'), url('fonts/aescrawl.ttf') format('truetype') ;
}

body{
	background-color: #F4F9F9;
	font-family: DreamingPrincess, Helvetica, sans-serif;
	color: #333333;
}

header{
	width: 890px;
	height: 150px;
	background-color: rgba(45,90,39,.15);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	border: 5px solid #4b8e8d;
}

section{
	width: 900px;
	background-image: url('images/2colbackAlt.jpg');
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
	
}

nav{
	float: left;
	width: 250px;
	text-align: center;
}

article{
	float: left;
	width: 650px;
	text-align: center;
}

footer{
	text-align: center;
	width: 890px;
	height: 80px;
	background-color: rgba(45,90,39,.15);
	margin: auto;
	border: 5px solid #4b8e8d;
}

.logoleft{
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}

nav a{
	display: block;
	border: 6px inset #2d5a27;
	width: 145px;
	background-color: #d8eceb;
	line-height: 1.25;
	font-weight: bold;
	font-size: 30px;
	color: #333333;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	font-family: aescrawl;
	margin: auto;
	margin-top: 10px;
}

nav a:hover {
	color: #4b8e8d;
	background-color: #d8eceb;
	border: 6px outset #2d5a27;
}

h1{
	color: #FFFFFF;
	text-align: center;
	font-size: 50px;
	-webkit-text-stroke: 1px #333333;
	font-family: DreamingPrincess;
}
	#thumbs, #image {
		width: 600px;
		text-align: center;
		margin: 0 auto 0 auto;
		color: #000;
		
	}

	#thumbs {
		margin-top: 10px;
	}

			
	#thumbs img {
		border: dashed #2D5A27;
		margin: 5px;
		box-shadow: 0 0 0 2px #4b8e8d;
	}

	#image{
		margin-bottom: 20px;
		
	}

	.instructions{
		font-style:italic;
	}
.contact{
	font-weight: bold;
	font-size: 20px;
}
.auto-style1{
	float: left;
	height: 150px;
	border: dashed #2D5A27;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-right: 15px;
	box-shadow: 0 0 0 2px #4b8e8d;
}

.caption{
	font-size: 27px;
}

h2{
	color: #FFFFFF;
	background-color: #4b8e8d;
	margin-right: 20px;
	font-family: FromCartoonBlocks;
	font-size: 35px;
}

h3{color: #333333;}

hr{
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
}

p{
	color: #333333;
	margin-right: 25px;
	font-size: 20px;
}
.quote{
	color: #333333;
	margin-right: 25px;
	font-family: aescrawl;
	font-size: 17px;
}

